#ribbon {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 5vh;
    max-height: 5vh;
    min-width: 100vw;
    z-index: 2;
    background: red;
    display: flex;
}

#title-place-holder{
    background-color: green;
    flex-basis: 50%;
    flex-grow: 2;
}

#links {
    display: flex;
    justify-content: flex-end;
    background-color: blue;
    flex-basis: 25%;
    flex-grow: 1;
}

#links img {
    margin: 5px 15px;
    height: 80%;
}

#toc {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: royalblue;
    flex-basis: 25%;
    flex-grow: 1;
}

#dropdown-menu {
    display: none;
    position: absolute;
    background-color: green;
    top: 5vh;
    left: 0;
    width: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#toc:hover #dropdown-menu {display: block;}
#dropdown-menu a:hover {background-color: #ddd;}
#toc:hover {background-color: #3e8e41;}

/* #header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    height: 100vh;
    position: sticky;
    top: 0;
}

#header>#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 5vh;
    background-color: red;
    z-index: -1;
}

#toc {
    background-color: aqua;
    text-align: center;
}

#links {
    background-color: beige;
    text-align: center;
}

#project-title {
    background-color: green;
    top: 0;
    text-align: center;
    font-size: calc(var(--font-size) * 0.4);
    animation-duration: 1s;
    animation-name: slidein;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * 9 * -1s);
}

@keyframes slidein {
    from {
        font-size: calc(var(--font-size) * 0.7);
    }
    to {
        font-size: calc(var(--font-size) * 0.4);
    }
} */

#project-title {
    background-color: purple;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}